<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Nelisa Spaza Shop Statics</title>

  <link rel="stylesheet" href="/css/emma.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>

<body>

  <ul class="nav nav-pills">
    <li role="presentation" class="active"><a href=https://nelisa-emma.herokuapp.com/>Home</a></li>
    <li role="presentation"><a href=https://nelisa-emma.herokuapp.com//aboutus>About Us</a></li>
    <li role="presentation" class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <b>Week</b> <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href=https://nelisa-emma.herokuapp.com//week1 role="button"><b>Week 1</b></a></li>
        <li><a href=https://nelisa-emma.herokuapp.com//week2 role="button"><b>Week 2</b></a></li>
        <li><a href=https://nelisa-emma.herokuapp.com//week3 role="button"><b>Week 3</b></a></li>
        <li><a href=https://nelisa-emma.herokuapp.com//week4 role="button"><b>Week 4</b></a></li>
      </ul>
    </li>
  </ul>

  <div class="container">

    {{{body}}}

  </div>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</html>
