<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Nelisa Spaza Shop</title>

    <link rel="stylesheet" href="/css/emma.css">
    <link rel="stylesheet" href="/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>

    <ul id="dropdown1" class="dropdown-content">
        <li>{{user}}</li>
        <li class="divider"></li>
        <li><a href="/logout">Logout</a></li>
    </ul>

    <div class="row">
        <div class="col s12 m12 l12">
            <nav class = "white">
                <div class="nav-wrapper">
                    <a href="/" class="brand-logo black-text"><b>Nelisa Spaza Shop</b></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a class="black-text" href="/login"><b>Login</b></a></li>
                        <li>
                            <a class="dropdown-button" data-activates="dropdown1">
                                <i class="material-icons icon-black">person_pin</i>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <nav id = "main-nav">
                <div class="nav-wrapper">
                    <a href="/" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
                    <ul class="left hide-on-med-and-down">
                        <li><a href="/aboutus" class="waves-effect waves"><b>About</b></a></li>

                        {{#if admin}}
                            <li><a href="/products" class="waves-effect waves"><b>Products</b></a></li>
                            <li><a href="/purchases" class="waves-effect waves"><b>Purchases</b></a></li>
                            <li><a href="/sales" class="waves-effect waves"><b>Sales</b></a></li>
                            <li><a href="/users" class="waves-effect waves"><b>Users</b></a></li>
                            <li><a href="/getsummary" class="waves-effect waves"><b>Summary</b></a></li>

                        {{else}}
                            <li><a href="/ourproducts" class="waves-effect waves"><b>Our Products</b></a></li>
                        {{/if}}

                    </ul>

                    <ul class="side-nav" id="nav-mobile">
                        <li><a href="/aboutus" class="waves-effect waves"><b>About</b></a></li>

                        {{#if admin}}
                            <li><a href="/products" class="waves-effect waves"><b>Products</b></a></li>
                            <li><a href="/purchases" class="waves-effect waves"><b>Purchases</b></a></li>
                            <li><a href="/sales" class="waves-effect waves"><b>Sales</b></a></li>
                            <li><a href="/users" class="waves-effect waves"><b>Users</b></a></li>
                            <li><a href="/getsummary" class="waves-effect waves"><b>Summary</b></a></li>

                        {{else}}
                            <li><a href="/ourproducts" class="waves-effect waves"><b>Our Products</b></a></li>
                        {{/if}}

                    </ul>
                </div>
            </nav>

            {{{body}}}

        </div>
    </div>

</body>

<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="/js/materialize.min.js"></script>
<script>
    $(document).ready(function() {
        $('select').material_select();
        $('.dropdown-button').dropdown();
        $(".button-collapse").sideNav();
        $('.collapsible').collapsible();
    });
</script>

</html>
