<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Nelisa Spaza Shop</title>

    <link rel="stylesheet" href="/css/emma.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>

<div class="container">

    <body>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <ul class="nav nav-pills">
                        <li role="presentation">
                            <a href="/">
                                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li role="presentation"><a href="/aboutus">About Us</a></li>
                        <li role="presentation"><a href="/products">Products</a></li>
                        <li role="presentation"><a href="/categories">Categories</a></li>
                        <li role="presentation"><a href="/sales">Sales</a></li>
                        <li role="presentation"><a href="/purchases">Purchases</a></li>
                        <li role="presentation"><a href="/getsummary"><b>Summary</b></a></li>
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/logout" role="button"><b>Logout</b></a></li>
                            </ul>
                        </li>
                        <!-- <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                <b>Weekly Stats</b> <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/stats/week1" role="button"><b>Week 1</b></a></li>
                                <li><a href="/stats/week2" role="button"><b>Week 2</b></a></li>
                                <li><a href="/stats/week3" role="button"><b>Week 3</b></a></li>
                                <li><a href="/stats/week4" role="button"><b>Week 4</b></a></li>
                            </ul>
                        </li> -->
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">

            {{{body}}}

        </div>

    </body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</div>

</html>
