<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Nelisa Spaza Shop</title>

    <link rel="stylesheet" href="/css/emma.css">
    <link rel="stylesheet" href="/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>

    <nav class="teal lighten-1" class="top-nav">
        <div class="container">
            <div class="nav-wrapper">
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/login"><b>Login</b></a></li>
                    <li>
                        <a class='dropdown-button' href='#' data-activates='dropdown1'>
                            <i class="material-icons">person_pin</i>
                        </a>
                    </li>
                    <ul id='dropdown1' class='dropdown-content'>
                        <li>{{user}}</li>
                        <li><a href="/logout"><b>Logout</b></a></li>
                    </ul>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only">
            <i class="material-icons">menu</i>
        </a>
    </div>

    <ul id="nav-mobile" class="side-nav fixed" style="transform: translateX(0%);">
        <li class="logo">
            <a href="/" class="brand-logo"><b>Nelisa Spaza Shop</b></a>
        </li>
        <!-- <li>
                    <a href="/">
                        <i class="material-icons">store</i>
                    </a>
                </li> -->
        <li><a href="/aboutus" class="waves-effect waves-teal"><b>About Us</b></a></li>

        {{#if admin}}
            <li><a href="/products" class="waves-effect waves-teal"><b>Products</b></a></li>
            <!-- <li><a href="/categories">Categories</a></li> -->
            <li><a href="/purchases" class="waves-effect waves-teal"><b>Purchases</b></a></li>
            <li><a href="/sales" class="waves-effect waves-teal"><b>Sales</b></a></li>
            <li><a href="/getsummary" class="waves-effect waves-teal"><b>Summary</b></a></li>
            <li><a href="/users" class="waves-effect waves-teal"><b>Users</b></a></li>

        {{else}}
            <li><a href="/ourproducts" class="waves-effect waves-teal"><b>Our Products</b></a></li>
        {{/if}}


    </ul>
    </div>
    </nav>

    <div class="container">

        {{{body}}}

    </div>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/js/materialize.min.js"></script>
<script>
    $(document).ready(function() {
        $('select').material_select();
    });
</script>

</html>
