<div class="container">
  <div class="jumbotron">

    <h1>NELISA SPAZA SHOP!</h1>

  </div>

  <div class = "nelisa">

    <img class ="images" src='/images/Nelisa.png'>
    <p>Nelisa lives in Khayelitsha and is the owner of a spaza shop in Khayelitsha.She is the mother of Xolani and grandmother of Ayanda.</p>
    <p>Most of her life, Nelisa has either been a domestic worker or unemployed, but she’s always wanted to run her own business.</p>
    <p>She started her spaza shop 8 months ago.Nelisa shops for stock in the morning, and then she often looks after her grandson</p>
    <p>Ayanda in the afternoon. She runs the shop over the weekend, on Saturday and Sunday mornings.</p>

  </div>

  <div class = "xolani">

    <img class = "images" src='/images/Xolani.png'>
    <p>Nelisa has a son called Xolani who is also Ayanda's father. Xolani used to do casual work as a packer, but nothing permanent. </p>
    <p>He started helping Nelisa out while he was unemployed, and it’s unofficially turned into a full time job. He’s usually works at </p>
    <p>the shop from 7am to 8pm during the week.</p>

  </div>

</div>
