<div>
	<nav class="white">
		<div class="nav-wrapper">
			<ul>
				<li>
					<h5 class="nav-text black-text">Add product</h5>
				</li>
			</ul>
		</div>
	</nav>
</div>

<div class="container">

    <form class="navbar-form navbar-left" action="/products/add" method="POST">
        <div>
            <label for="">Category</label>

            <select name="category_id">
                {{#categories}}
                    <option class="btn btn-default" value="{{id}}">{{category}}</option>
                {{/categories}}
            </select>
        </div>

        <div class="form-group">

            <label for="">Product&nbsp;&nbsp;</label>
            <input type="text" class="form-control" placeholder="Product" name="product" value="{{product}}">

        </div>

        <input class="btn btn-default" type="submit" value="Add">

    </form>
</div>
