<div class="container">

	<h4>ADD A CATEGORY</h4>

	<form action="/categories/add" method="POST">
		<label for="">Category</label>
		<input type="text" placeholder="Category" name="category" value="{{category}}">
		<input type="submit" value="Add">
	</form>

</div>
