<div>
	<nav class="white">
		<div class="nav-wrapper">
			<ul>
				<li>
					<h5 class="black-text"><b>ADD A CATEGORY</b></h5>
				</li>
			</ul>
		</div>
	</nav>
</div>

<div class="container">
	<form action="/categories/add" method="POST">
		<label for="">Category</label>
		<input type="text" placeholder="Category" name="category" value="{{category}}">
		<input class="btn btn-default" type="submit" value="Add">
	</form>
</div>
