<div>
	<nav class="white">
		<div class="nav-wrapper">
			<ul>
				<li>
					<h5 class="nav-text black-text">Add Category</h5>
				</li>
			</ul>
		</div>
	</nav>
</div>

<div class="container">
	<form action="/categories/add" method="POST">
		<label for="">Category</label>
		<input type="text" placeholder="Category" name="category" value="{{category}}">
		<input class="btn btn-default" type="submit" value="Add">
	</form>
</div>
