<div class="container">

  <p><a class="btn btn-primary btn-lg" href="/categories/add" role="button">ADD A CATEGORY</a></p>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Category List</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        {{#categories}}
            <tbody>
                <tr>
                    <td>{{category}}</td>
                    <td><a class="btn btn-default" href="/categories/edit/{{id}}" role="button">EDIT</a></td>
                    <td><a class="btn btn-default" href="/categories/delete/{{id}}">DELETE</a></td>
                </tr>
            </tbody>
        {{/categories}}

    </table>



</div>
