<table class="table table-hover" class="container">
    <thead>
        <tr>
            <th>Category List
                <a class="btn btn-default" href="/categories/add" role="button">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </a>
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    {{#categories}}
        <tbody>
            <tr>
                <td>{{category}}</td>
                <td><a class="btn btn-default" href="/categories/edit/{{id}}" role="button">EDIT</a></td>
                <td><a class="btn btn-default" href="/categories/delete/{{id}}">DELETE</a></td>
            </tr>
        </tbody>
    {{/categories}}

</table>
