<div class="container">

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Category List</th>
            </tr>
        </thead>

        {{#categories}}
            <tbody>
                <tr>
                    <td>{{category}}</td>
                </tr>
            </tbody>
        {{/categories}}

    </table>

</div>
