<div>
	<nav class="white">
		<div class="nav-wrapper">
			<ul>
				<li>
					<h5 class="nav-text black-text">Edit Category</h5>
				</li>
			</ul>
		</div>
	</nav>
</div>

<div class="container">

	<form action="/categories/update/{{data.id}}" method="POST">

		<div class="">
			<label for="">Category</label>
			<input type="text" name="category" value="{{data.category}}">
		</div>

		<input class="btn btn-default" type="submit" value="Edit">
	</form>

</div>
