<div class="container">

	<h4>EDIT CATEGORY</h4>

	<form action="/categories/update/{{data.id}}" method="POST">

		<div class="">
			<label for="">Category</label>
			<input type="text" name="category" value="{{data.category}}">
		</div>

		<input type="submit" value="Edit">
	</form>

</div>
