<div>
	<nav class="white">
		<div class="nav-wrapper">
			<ul>
				<li>
					<h5 class="black-text"><b>GET STATS</b></h5>
				</li>
			</ul>
		</div>
	</nav>
</div>

<div class="container">

    <form class="navbar-form navbar-left" action="/summary" method="POST">

        <div class="form-group">
            <label for="">FROM &nbsp;:</label>
            <input type="date" name="from" value="{{data.date}}">
        </div>

        <div class="form-group">
            <label for="">TO &nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="date" name="to" value="{{data.date}}">
        </div>

        <input class="btn btn-default" type="submit">

    </form>
</div>
