<div>
	<nav class="white">
		<div class="nav-wrapper">
			<ul>
				<li>
					<h5 class="nav-text black-text">Get Stats</h5>
				</li>
			</ul>
		</div>
	</nav>
</div>

<div class="container">

	<form class="navbar-form navbar-left" action="/summary" method="POST">

		<div class="form-group">
			<label for="">FROM &nbsp;:</label>
			<input class="date-picker-from" type="text" name="from" value="{{data.date}}">
		</div>

		<div class="form-group">
			<label for="">TO &nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
			<input class="date-picker-to" type="text" name="to" value="{{data.date}}" />
		</div>

		<input class="btn btn-default" type="submit">

	</form>
</div>

<script src="/js/tiny-date-picker.min.js"></script>
<script>
	TinyDatePicker(document.querySelector('.date-picker-from'));
	if (window.console && window.console.log) {
		document.addEventListener('change', function(e) {
			console.log('Changed to: ' + e.target.value);
		});
	}

	TinyDatePicker(document.querySelector('.date-picker-to'));
	if (window.console && window.console.log) {
		document.addEventListener('change', function(e) {
			console.log('Changed to: ' + e.target.value);
		});
	}
</script>
