<h3>GET SUMMARY DATA</h3>

<form class="navbar-form navbar-left" action="/summary" method="POST">

    <div class="form-group">
        <label for="">FROM &nbsp;:</label>
        <input type="date" name="from" value="{{data.date}}">
    </div>

    <div class="form-group">
        <label for="">TO &nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input type="date" name="to" value="{{data.date}}">
    </div>

    <input type="submit">

</form>
