<div class="container">
    <div class="row main">
        <div class="col s12 m12 l12">
            <div class="card medium">
                <div class="home-logo">
                    <img id="home-logo" src='/images/nelisa-logo.jpg'>
                </div>
                <div class="card-content">
                    <p><b>Trading Hours</b></p>
                    <p>Monday-Friday: 7am-7pm</p>
                    <p>Saturday-Sunday: 7am-1pm</p>
                    <p>Public Holidays: Closed</p>
                </div>
            </div>
        </div>
    </div>
</div>
