<div class="container">
    <div class="jumbotron">

        <h1>NELISA SPAZA SHOP!</h1>
        <h3>To obtain each week's statistics click on the "Weekly Stats" link above</h3>

    </div>

    <div class="image">

        <img src="https://www.yooshopper.com/uploads/stores/1444631041_8155161625_846036090a.jpg">

    </div>

</div>
