<div class="container">
    <div class="card medium">
        <div class="card-image">
            <img src='/images/spaza.jpg'>
        </div>
        <div class="card-content">
            <p><b>Trading Hours</b></p>
            <p>Monday-Friday: 7am-7pm</p>
            <p>Saturday-Sunday: 7am-1pm</p>
            <p>Public Holidays: Closed</p>
        </div>
    </div>
</div>
