<div>
	<nav class="white">
		<div class="nav-wrapper">
			<ul>
				<li>
					<h5 class="nav-text black-text">Login</h5>
				</li>
			</ul>
		</div>
	</nav>
</div>

<div class="container">

    <form class="navbar-form navbar-left" action="/login" method="POST">

        <div class="form-group">
            <label for="">USERNAME&nbsp;:</label>
            <input type="text" name="username">
        </div>

        <div class="form-group">
            <label for="">PASSWORD&nbsp;:</label>
            <input type="password" name="password">
        </div>

        <p id='warning'>{{messages.warning}}</p>
        <p id='success'>{{messages.success}}</p>

        <input class="btn btn-default" type="submit" value="Login">
        <div>
            <a href='/signup' id='signup'>No account? Create one!<a>
    </div>

</form>
</div>
