<div class="container">

    <table class="table table-hover" style="width:60%">

        <thead>
            <tr>
                <th style="width:10%">Product</th>
                <th style="width:10%">Category</th>
            </tr>
        </thead>

        {{#products}}
            <tbody>
                <tr>
                    <td>{{product}}</td>
                    <td>{{category}}</td>
                </tr>
            </tbody>
        {{/products}}

    </table>

</div>
