<div class="container">

    <table class="table table-hover">

        <thead>
            <tr>
                <th>Product</th>
                <th>Category</th>
            </tr>
        </thead>

        {{#products}}
            <tbody>
                <tr>
                    <td>{{product}}</td>
                    <td>{{category}}</td>
                </tr>
            </tbody>
        {{/products}}

    </table>

</div>
