<div>
	<nav class="white">
		<div class="nav-wrapper">
			<ul>
				<li class="left">
					<h5 class="black-text"><b>OUR PRODUCTS</b></h5>
				</li>
			</ul>
		</div>
	</nav>
</div>

<div class="container">

    <table class="bordered" class="responsive-table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Category</th>
            </tr>
        </thead>

        {{#products}}
            <tbody>
                <tr>
                    <td>{{product}}</td>
                    <td>{{category}}</td>
                </tr>
            </tbody>
        {{/products}}

    </table>
</div>
