<div class="container">

    <div>
        <h4>OUR PRODUCTS</h4>
    </div>

    <table class="bordered" class="responsive-table">

        <thead>
            <tr>
                <th>Product</th>
                <th>Category</th>
            </tr>
        </thead>

        {{#products}}
            <tbody>
                <tr>
                    <td>{{product}}</td>
                    <td>{{category}}</td>
                </tr>
            </tbody>
        {{/products}}

    </table>

</div>
