<table class="table table-hover" class="container">
    <thead>
        <tr>
            <th>Product
                <a class="btn btn-default" href="/products/add" role="button">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </a>
            </th>
            <th>Category</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    {{#products}}
        <tbody>
            <tr>
                <td>{{product}}</td>
                <td>{{category}}</td>
                <td><a class="btn btn-default" href="/products/edit/{{id}}" role="button">EDIT</a></td>
                <td><a class="btn btn-default" href="/products/delete/{{id}}">DELETE</a></td>
            </tr>
        </tbody>
    {{/products}}

</table>
