<div class="container">

    <table>

        <thead>
            <tr>
                <th>Product</th>
                <th>Category</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        {{#products}}
            <tbody>
                <tr>
                    <td>{{product}}</td>
                    <td>{{category}}</td>
                    <td>
                        <a class="btn btn-default" href="/products/edit/{{id}}" role="button">
                            <i class="material-icons left">mode_edit</i>Edit</a>
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-default" href="/products/delete/{{id}}">
                            <i class="material-icons left">delete</i>Delete</a>
                        </a>
                    </td>
                </tr>
            </tbody>
        {{/products}}

    </table>
</div>
