<form action="/products/search/">

    <input type="text" placeholder="Search" name="search_val" id="search_bar">
    <!-- <input type="submit" value="Search"> -->
</form>

<table id="product_search">

    <thead>
        <tr>
            <th>Product
                <a class="btn btn-default" href="/products/add" role="button">
                    <i class="material-icons">add</i>
                </a>
            </th>
            <th>Category</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    {{#products}}
        <tbody>
            <tr>
                <td>{{product}}</td>
                <td>{{category}}</td>
                <td>
                    <a class="btn btn-default" href="/products/edit/{{id}}" role="button">
                        <i class="material-icons">mode_edit</i>
                    </a>
                </td>
                <td>
                    <a class="btn btn-default" href="/products/delete/{{id}}">
                        <i class="material-icons">delete</i>
                    </a>
                </td>
            </tr>
        </tbody>
    {{/products}}

</table>

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

<script>
    $(document).ready(function() {

        $("#search_bar").keyup(function(event) {

            var searchValue = $("#search_bar").val();
            $.get("/products/search/" + searchValue, function(results) {
                $('#product_search').html(results);
            });
        });
    })
</script>
