<div>
    <nav class="white">
        <div class="nav-wrapper">
            <ul>
                <li>
                    <h5 class="nav-text black-text">Products</h5>
                </li>
                <li class="right black-text">
                    <form action="/products/search/">
                        <div class="input-field">
                            <i class="material-icons prefix">search</i>
                            <input id="search_bar" type="text" placeholder="search" class="validate" name="search_val">
                        </div>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container">

    <table id="product_search" class="bordered" class="responsive-table">

        <thead>
            <tr>
                <th>Product</th>
                <th><a href="/categories">Category</a></th>
                <th></th>
                <th>
                    <a class="btn btn-default" href="/products/add" role="button" id="add">
                        <i class="material-icons left">add</i>Add</a>
                    </a>
                </th>
            </tr>
        </thead>

        {{#products}}
            <tbody>
                <tr>
                    <td>{{product}}</td>
                    <td>{{category}}</td>
                    <td>
                        <a class="btn btn-default" href="/products/edit/{{id}}" role="button">
                            <i class="material-icons left">mode_edit</i>Edit</a>
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-default" href="/products/delete/{{id}}">
                            <i class="material-icons left">delete</i>Delete</a>
                        </a>
                    </td>
                </tr>
            </tbody>
        {{/products}}

    </table>
</div>

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

<script>
    $(document).ready(function() {

        $("#search_bar").keyup(function(event) {

            var searchValue = $("#search_bar").val();
            $.get("/products/search/" + searchValue, function(results) {
                $('#product_search').html(results);
            });
        });
    })
</script>
