<form class="navbar-form navbar-left" action="/weekly" method="POST">

    <div class="form-group">
        <label for="">Start Date</label>
        <input type="date" name="date" value="{{data.start_date}}">
    </div>

    <div class="form-group">
        <label for="">End Date</label>
        <input type="date" name="date" value="{{data.end_date}}">
    </div>

    <input type="submit">

</form>
