<div>
	<nav class="white">
		<div class="nav-wrapper">
			<ul>
				<li>
					<h5 class="black-text"><b>SIGN UP</b></h5>
				</li>
			</ul>
		</div>
	</nav>
</div>

<div class="container">

    <form class="navbar-form navbar-left" action="/signup" method="POST">

        <div class="form-group">
            <label for="">USERNAME&nbsp;:</label>
            <input type="text" name="username">
        </div>

        <div class="form-group">
            <label for="">PASSWORD&nbsp;:</label>
            <input type="password" name="password">
        </div>

        <p id='warning'>{{messages.warning}}<p>

        <input class="btn btn-default" type="submit" value="Sign Up">

    </form>
</div>
