<table class="table table-hover" class="container">
    <thead>
        <tr>
            <th>Popular Product</th>
            <th>Popular Category</th>
        </tr>
    </thead>


    <tbody>
        <tr>
            {{#most_popular}}
                <td>{{product}}</td>
            {{/most_popular}}
            
            {{#most_popular_cat}}
                <td>{{category}}</td>
            {{/most_popular_cat}}
        </tr>
    </tbody>


</table>
