h5 {
    text-align: center;
    /*padding: 2%;*/
}
#warning {
    color: #FF0000;
}

#success {
    color: green;
}

#main-nav {
    background-color: #4ec5c1;
}

#about_us {
    padding: 5%;
}

i.icon-black {
    color: black;
}

.card-content {
    text-align: center;
    font-size: 14px;
}

input[type="submit"] {
    color: white;
    font-weight: bold;
    text-align: center;
    background-color: #000000;
}

.container {
    padding-top: 40px;
}

i {
    font-weight: bold;
}

.btn {
    background-color: #ec576B !important;
}

#add {
    background-color: #4ec5c1 !important;
}

.home-logo {
    text-align: center;
}

#logo {
    height: 55px;
    width: 120px;
    padding-left: 10px;
}

.page-footer {
  /*border-top: 2px solid #4ec5c1;*/
  font-size: 80%;
  box-shadow:0 8px 6px -6px #4ec5c1;
}

.main {
  min-height: 40em;
}

.nav-text {
  text-transform: uppercase;
  font-weight: bold;
}

body {
  padding-bottom: 5px;
}
