h5 {
  text-align: center;
  padding: 2%;
}

#warning {
    margin-left: 95px;
    color: #FF0000 !important;
}
#success {
    margin-left: 50px;
    color: green !important;
}
#signup {
    /*margin-left: 50px;*/
}

#about_us {
  padding: 5%;
}

i.icon-black {
    color: black;
}

.card-content {
  text-align: center;

}

input[type="submit"]{
  background-color: #616161;
  border-radius: 10px;
  padding: 5px 15px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.container {
  padding-top: 40px;
}

i {
  font-weight: bold;
}
